<h1>Все товары</h1>
<h3>@Model.CurrCategory</h3>
<div class="row mt-5 mb-2">
    @{
        foreach (GoodModel good in Model.GetAllGoods)
        {
            @Html.Partial("_AllGoods", good)
        }
    }
</div>